body{
    background-color: black;
    color: white;
    
}
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }

#img-background{
    position: relative;
    left: 250px;
    top: 40px;
    background-image: url('img/Pixabay-1.jpg');
    width: 800px;
    height: 400px;
    border-radius: 4%;
    opacity: 0.7;
}

#sentence-of-the-day{
 position: relative;
 left: 100px;
 top: 150px;
 font-family: Arial, Helvetica, sans-serif;
 font: 1.13em sans-serif;
 font-weight: bold;
}

button{
    width:100px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em sans-serif;
    position: relative;
    top: 80px;
    left: 550px;
    background-color: #EBDEF0;
    opacity: 0.5;
}
button:hover{
  opacity: 1;
  background-color: bisque;

}

#title{
    background-color: black;
    width: 380px;
    height: auto;
    padding-left: 2rem;
    border-radius: 2rem;
    opacity: 0.5;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
}